<%- include('partials/metadata'); -%> <%- include('partials/header'); -%>
<div class="fondo">
  <div class="container" style="width: 100%">
    <div class="container-chico" style="width: 100%">
      <form method="GET" action="" class="mb-3">
        <div class="row edit">
          <div class="search">           
            <button class="icon-search" type="submit">
              <img
                src="../../../public/img/icons/search_icon.svg"
                alt="icono de search"
              />
            </button>
            <input
              type="text"
              class="form-control input-bord"
              id="filtro"
              name="filtro"
              placeholder="  código, nombre o categoría"
              style="width: 300px;"
            />
          </div>
        </div>
      </form>
      <div class="op">
        <div>
          <h1 class="admin-title"><b>LISTADO DE PRODUCTOS</b></h1>
        </div>
        <div >
          <h3 >
            <a style="display: flex; align-items: center; gap: 5px;"href="admin/create">AGREGAR <i class='bx bxs-plus-square' style="font-size: 2.5rem; color: var(--primary-solid);"></i></a>
          </h3>
        </div>
      </div>

      <div style="width: 100%">
          <table class="tabla-list" style="width: 100%">
            <thead style="width: 100%" >
              <tr class="t-head-admin">
                <th>ID</th>
                <th>Código</th>
                <th>Nombre del producto</th>
                <th>Categoría</th>
                <th></th>
              </tr>
            </thead>
            <tbody style="width: 100%">
            <% items.forEach(item => { %>
              <tr>
                <td style="padding: 2px;"><%= item.product_id %></td>
                <td><%= item.sku %></td>
                <td><%= item.product_name %></td>
                <td><%= item.category_id %></td>
                <td>
                  <a href="admin/edit/<%= item.product_id %>" class="icon-pencil"
                    ><img
                      src="public/img/icons/edit_pencil.svg"
                      alt="icono de editar"
                  /></a>
                  <a class="icon-remove"
                    ><img
                      src="public/img/icons/delete_trash.svg"
                      alt="icono de delete"
                  /></a>
                </td>
              </tr>
            <% }) %>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>
<%- include('partials/footer'); -%>
